@import '../../style/measurements.less';

#menu {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: @menuHeight;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .button {
    margin-right: 0.5em;
  }
}
